@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #f3f2f7;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #e0dff4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #5d54db; 
}